@model  WebApp1.Models.TblUserDetail

<form asp-action="Submit" asp-controller="Home">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Email,new {  @class="form-control",@id= "inputEmail3" })
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Gender, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
